* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.flexer {
    display: flex;
    align-items: center;
}

.navigations {
    height: 60px;
    padding: 12px 100px 12px 100px;
    display: flex;
    justify-content: space-between;
}

.leftside span {
    font-size: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 2px;
}

.register {
    width: 134px;
    height: 36px;
    background-color: rgb(76, 176, 79);
    padding: 10px 22px 10px 22px;
    border: none;
    font-size: 11px;
    border-radius: 3px;
    color: white;
    margin-left: 22px;
}

.register img {
    margin-left: 6px;
}

.listtext {
    margin-left: 16px;
    font-family: sans-serif;
}

.mainbutton {
    width: 90px;
    height: 36px;
    border: none;
    background-color: rgb(76, 176, 79);
    color: white;
    border-radius: 3px;
}

.maincontainer {
    padding: 66px 100px 66px 100px;
    height: 420px;
    background-color: rgb(245, 247, 250);
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
}

.mainleftside span {
    color: rgb(76, 176, 79);
    font-size: 44px;
}

.mainleftside h1 {
    color: #4d4d4d;
    font-size: 44px;
}

.mainleftside p {
    color: rgb(112, 112, 112);
    font-size: 11px;
    margin-top: 11px;
    margin-bottom: 22px;
}


.maincontainer img {
    margin-left: 72px;
}

.client h2 {
    color: rgb(77, 77, 77);
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    margin-top: 28px;
}

.client p {
    color: rgb(130, 130, 130);
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.clientlogos img {
    height: 34px;
    width: 34px;
    margin-right: 94px;
    margin-left: 94px;
}

.clientlogos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    justify-content: center;
    padding: 17px 94px 17px 94px;
}

.client {
    margin-bottom: 11px;
    width: 100%;
    height: 54px;
}

.managecommunity h2 {
    color: #4d4d4d;
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 600;

}

.managecommunity {
    width: 100%;
    height: 62px;
}

.managecommunity span {
    color: #4d4d4d;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
}

.managecommunity p {
    color: #838383;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 6px;
}

.mainmanagecommunity {
    margin-top: 28px;
}

.cards img {
    height: 38px;
    width: 46px;
}

.cards h3 {
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
    color: #4d4d4d;
}

.cards p {
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
    color: #a6a6a6;
}

.cards {
    display: flex;
    align-items: center;
    padding: 7px 100px 7px 100px;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-direction: row;
}

.cards div {
    width: 208px;
    height: 182px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.learnmore img {
    width: 400px;
    height: 350px;
}

.rightside h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(77, 77, 77);
}

.rightside p {
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
    color: #a6a6a6;
    margin-top: 11px;
}

.rightside button {
    border: none;
    width: 105px;
    height: 36px;
    color: white;
    background-color: #4caf4f;
    border-radius: 3px;
    margin-top: 22px;
}

.rightside {
    display: flex;
    width: 480px;
    height: 188px;
    flex-direction: column;
    align-items: start;
}

.learnmore {
    display: flex;
    align-items: center;
    padding: 56px 100px 56px 100px;
    justify-content: space-evenly;
    justify-content: center;
}

.achivement {
    display: flex;
    align-items: center;
    background-color: #f5f7fa;
    width: 100%;
    height: 200px;
    padding: 60px 100px 60px 100px;
    align-content: space-between;
    justify-content: center;
}

.textside h2 {
    font-size: 25px;
    font-family: sans-serif;
    color: #4d4d4d;
    font-weight: 600;
}

.textside span {
    font-size: 25px;
    font-family: sans-serif;
    color: #4caf4f;
    font-weight: 600;
    margin-bottom: 6px;
}

.textside p {
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    color: #18191F;
}

.count img {
    height: 44px;
    width: 178px;
    margin-right: 20px;
    margin-bottom: 28px;
}

.count {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    width: 376px;
    height: 114px;
}


.calendar img {
    width: 308px;
    height: 300px;

}

.calendartext h2 {
    font-size: 25px;
    font-family: sans-serif;
    color: #4d4d4d;
    font-weight: 600;
}

.calendartext p {
    font-size: 10px;
    font-family: sans-serif;
    color: #949494;
    font-weight: 400;
    margin-top: 11px;
}

.calendartext button {
    border: none;
    width: 106px;
    height: 36px;
    color: white;
    background-color: #4caf4f;
    border-radius: 3px;
    margin-top: 22px;
}

.calendar {
    display: flex;
    align-items: center;
    padding: 42px 100px 42px 100px;
    justify-items: center;
    justify-content: center;
}

.calendartext {
    width: 460px;
    height: 216px;
    margin-left: 60px;
}

.customer {
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    width: 100%;
    height: 280px;
    padding: 24px 104px 24px 104px;
    justify-content: center;
}

.maincustomer {
    width: 520px;
    height: 226px;
}

.customertext p {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    color: #818182;
}

.customertext h4 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #4caf4f;
    margin-top: 12px;
}

.customertext span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    color: #89939E;
    margin-top: 6px;
}

.customerlogos button {
    color: #4caf4f;
    border: none;
    background-color: #f5f7fa;
    width: 156px;
    height: 32px;
}

.buttongreenarrow img {
    width: 16px;
    height: 16px;
}

.customerlogos {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin-top: 22px;
}

.logosforcustomer {
    width: 34px;
    height: 34px;
    margin-left: 28px;
}

.maincustomer {
    margin-left: 54px;
}



.mainmarketing {
    height: 360px;
    width: 100%;
    padding: 34px 100px 34px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainmarketing img {
    width: 260px;
    height: 200px;
}

.readmorearrow img {
    width: 16px;
    height: 16px;
}

.marketingtext {
    width: 772px;
    height: 88px;
    text-align: center;
}

.marketingtext span {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: #4d4d4d;
}

.marketingtext p {
    font-size: 11px;
    font-family: sans-serif;
    font-weight: 400;
    color: #828282;
}

.marketingcontent span {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #56b359;
    position: absolute;
    bottom: 14px;
    left: 14px;
    width: 190px;
    height: 30px;
}

.marketingcontent p {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #717171;
    margin-top: 20px;
    height: 60px;
    width: 198px;
    margin-left: 11px;
}

.marketingcontent {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.marketingcontent div {
    width: 220px;
    height: 140px;
    background-color: #f5f7fa;
    border-radius: 6px;
}

.marketingcard {
    display: flex;
    position: relative;
    left: 18px;
    bottom: 60px;
    text-align: center;
    width: 220px;
    height: 120px;
}

.ending {
    width: 100%;
    height: 210px;
    margin-top: 120px;
    background-color: #f5f7fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ending h2 {
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    color: #263238;
}

.ending span {
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 600;
    color: #263238;
}

.ending button {
    width: 124px;
    height: 36px;
    border: none;
    background-color: #4caf4f;
    color: #f4faf4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 11px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

footer {
    background-color: #263238;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftfooter img {
    height: 20px;
    width: 132px;
    margin-bottom: 26px;
}

.leftfooter p {
    color: #8e9499;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
}

.leftfooter span {
    color: #8e9499;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 6px;
}

.footericons img {
    height: 22px;
    width: 22px;
    margin-top: 26px;
}

.footerlists h2 {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.footerlists li {
    color: #e4e5e6;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 8px;
}

.mainbox h2 {
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 16px;
}

.box img {
    height: 12px;
    width: 12px;
    display: flex;
    position: relative;
    left: 15px;
}

.box {
    display: flex;
    align-items: center;
    background-color: #515b60;
    border: none;
    color: #b7bbc1;
    width: 178px;
    height: 28px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 6px;
}

.box input {
    background-color: #515b60;
    color: #d9dbe1;
    height: 14px;
    border: none;
    font-weight: 400px;
    font-size: 10px;
    margin-left: 8px
}

.footerlists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footericons {
    display: flex;
    gap: 11px;
    flex-direction: row;
}

.leftfooter {
    width: 242px ;
    height: 132px ;
}

.rightfooter {
    width: 442px ;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}